%p Build operate transfer (BOT) project and license acquisition

%p Timor Leste has significant oil reserves from which profits are being invested to improve infrastructure on a country wide basis.  Next year investment will be in excess of 2B USD

%p Proven expertise in launching new businesses in Timor Leste

%p Capability to assist in all aspects of business startup from licenses to incorporation

